* {
margin: 0;
padding: 0;
cursor: default;
}


header {
width: 923px;
height: 84px;
position: absolute;
background-color: #7025FB;
left: 0px;
top: 0px;
}

.left {
width: 923px;
height: 996px;
position: absolute;
top: 84px;
}

.right {
position: absolute;
width: 997px;
height: 1080px;
background-color: #FD5334;
left: 923px;
}

#king-logo {
margin-top: 30.41px;
margin-left: 60px;
margin-right: 8.27px;
position: absolute;
}

#header-text {
position: absolute;
width: 252.82px;
height: 23.35px;
margin-top: 31px;
margin-left: 82.93px;

}

#chess-says{
position: absolute;   
width: 496px;
height: 109px;
font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 80px;
line-height: 109px;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 265px;
margin-left: 85px;

}

#a-lot-about{
position: absolute;
width: 136px;
height: 27px;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
text-transform: uppercase;
color: #212529;
margin-top: 306px;
margin-left: 607px;
}

#who-we-are{
position: absolute;
width: 570px;
height: 109px;
font-family: 'Nunito';
font-style: normal;
font-weight: 900;
font-size: 80px;
line-height: 109px;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 390px;
margin-left: 85px;
}

#get-started {
position: absolute;
width: 191px;
height: 53px;
margin-top: 601px;
margin-left: 85px;
background: #212529;
border-radius: 8px;
border: 4px solid transparent ;
}

#get-started:hover {
cursor: pointer;
border: 4px solid rgba(194, 165, 249, 0.8)
}


#button-content {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
text-transform: capitalize;
color: #FFFFFF;
margin-left: 24px;
text-align: center;
display: flex;
align-items: center;
cursor: pointer;
}

#arrow {
margin-left: 12px;
cursor: pointer;
}


/* Page2 */


.right-page-two {
position: absolute;
width: 997px;
height: 1080px;
background-color: white;
left: 923px;
}

#quote{
position: absolute;
width: 423px;
height: 83px;
left: 132px;
top: 290px;
font-family: 'Nunito';
font-style: italic;
font-weight: 800;
font-size: 26px;
line-height: 43px;
text-transform: uppercase;
color: #212529;
}

#author{
position: absolute;
width: 222px;
height: 33px;
left: 132px;
top: 385px;
font-family: 'Nunito';
font-style: italic;
font-weight: 500;
font-size: 24px;
line-height: 33px;
text-transform: uppercase;
color: #E5E6E8;
}

#registration-header{
position: absolute;
width: 215px;
height: 24px;
left: 48px;
top: 30px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
text-transform: capitalize;
color: #212529;
}

#line {
position: absolute;
height: 0px;
width: 997px;
left: 0px;
top: 82px;
border: 1px solid rgba(185, 180, 196, 0.3);
}

#personal-info{
position: absolute;
width: 328px;
height: 48px;
left: 48px;
top: 324px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 150%;
color: #000000;
}
#field-description{
position: absolute;
width: 205px;
height: 21px;
left: 48px;
top: 375px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
text-transform: capitalize;
color: #95939A;
}

/* progress and page indecators code */

#progress-box{
position: absolute;
width: 361px;
height: 65px;
left: 107px;
top: 144px;
}

#line-progress{
position: absolute;
width: 174px;
height: 0px;
left: 151px;
top: 164px;
border: 1px solid rgba(185, 180, 196, 0.3);
flex: none;
order: 1;
flex-grow: 0;
}


.one {
position: absolute;
left: 107px;
top: 144px;
box-sizing: border-box;
width: 40px;
height: 40px;
background: #FFFFFF;
border: 1px solid #E5E6E8;
border-radius: 8px;
flex: none;
order: 0;
flex-grow: 0;
}

.one-filled{
background: #E9FAF1;
}


#inside-one{
position: absolute;
width: 11px;
height: 25px;
left: 14px;
top: 8px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #212529;
}

#two{
position: absolute;
left: 330px;
top: 144px;
box-sizing: border-box;
width: 40px;
height: 40px;
background: #F5F5F5;
border: 1px solid #E5E6E8;
border-radius: 8px;
flex: none;
order: 2;
flex-grow: 0;
}

#inside-two{
position: absolute;
width: 11px;
height: 25px;
left: 14px;
top: 8px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #95939A;
}

#personal-info-progress{
position: absolute;
width: 158px;
height: 24px;
left: 48px;
top: 188px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #000000;
}

#chess-experience-progress{
position: absolute;
width: 131px;
height: 24px;
left: 283px;
top: 188px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #000000;
}


/* input group */

#input-form-personal-info{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;
position: absolute;
width: 775px;
height: 304px;
left: 48px;
top: 481px;
}

input {
display: flex;

align-items: flex-start;
width: 743px;
height: 30px;
padding: 8px 16px;
background: rgba(255, 255, 255, 1e-06);
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #212529;
border: 0;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
border-radius: 4px;
}

.invalid-input{
    background: #FFEFEF;
    color: #DC3545;
}

/* back and next burron */

.back{
position: absolute;
width: 93px;
height: 53px;
left: 48px;
top: 873px;
border: 1px solid #212529;
border-radius: 8px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
background: #FFFFFF;    
}

.back:hover {
cursor: pointer;
background: rgba(185, 180, 196, 0.3);
border: 1px solid rgba(194, 165, 249, 0.8);

    }

.next{
position: absolute;
width: 128px;
height: 53px;
left: 695px;
top: 873px;
background: #212529;
border-radius: 8px;
border: 4px solid transparent;
}

.next:hover {
cursor: pointer;
border: 4px solid rgba(194, 165, 249, 0.8)
}


/* page 2 chess experience */

#quote-page-two{
position: absolute;
width: 615px;
height: 83px;
left: 117px;
top: 261px;
font-family: 'Nunito';
font-style: italic;
font-weight: 800;
font-size: 26px;
line-height: 45px;
text-transform: uppercase;
color: #212529;
}

#author-page-two{
position: absolute;
width: 266px;
height: 33px;
left: 466px;
top: 376px;
font-family: 'Nunito';
font-style: italic;
font-weight: 500;
font-size: 24px;
line-height: 33px;
text-transform: uppercase;
color: #093F68;
}

#registration-header-page-two{
position: absolute;
width: 383px;
height: 24px;
left: 48px;
top: 30px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
text-transform: capitalize;
color: #212529;
}

#checked{
position: absolute;
top: 13.88px;
left: 8.91px;
}

#one-green{
position: absolute;
left: 107px;
top: 144px;
box-sizing: border-box;
width: 40px;
height: 40px;
background: #E9FAF1;
border: 0px solid #E5E6E8;
border-radius: 8px;
flex: none;
order: 0;
flex-grow: 0;
}


/* dropdown */

#level-of-knowladge{
position: absolute;
width: 392px;
height: 46px;
left: 38px;
top: 491px;
background: #FFFFFF;
border: 0;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
}

#choose-your-character{
position: absolute;
width: 392px;
height: 46px;
left: 469px;
top: 491px;
background: #FFFFFF;
border: 0;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
border-radius: 4px;
}






/* last page */

#rocket-picture{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;
position: absolute;
width: 402px;
height: 260.65px;
left: 278px;
top: 416px;

}

#xxx{
    display: none;
}
#xxx-1{
    display: none;
}
#xxx-2{
    display: none;
}

.alert-box{

position: absolute;
width: 350px;
height: 87px;
top: 226px;
left: 608px;
background: rgba(255, 255, 255, 0.85);
border: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.alert-what{
position: absolute;
left: 10px;
top: 40px;
width: 326px;
height: 24px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #212529;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.alert-logo{
    position: absolute;
    top: 10px;
    left: 10px;
}

.alert-info{
    position: absolute;
    top: 10px;
    left: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #DC3545;
}